@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --theme-color: rgb(146, 180, 146);
  }

  @media print {
    :root {
      font-size: 12px;
    }
  }

  body {
    font-family: "Poppins", sans-serif;
  }

  h1 {
    text-align: center;

    font-size: 2.5rem;
    font-weight: 200;
    letter-spacing: 4px;
    text-transform: uppercase;
  }

  h2 {
    margin-top: -8px;
    padding-top: 28px;

    font-size: 1.5rem;
    text-transform: uppercase;

    border-top: 6px solid var(--theme-color);
  }

  p {
    @apply mb-1;
  }

  ul {
    @apply mb-1 pl-8 list-disc;
  }

  a {
    @apply text-blue-500;
  }
}

@layer components {
  .photo {
    justify-self: center;

    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
  }

  .photo img {
    width: 100%;
    transform: scale(1.8) translateY(15px);
  }

  .container {
    margin: 0 auto;
    padding: 0 20px 50px 20px;
    max-width: 940px;
  }

  .exp {
    position: relative;
  }

  /* Line */
  .exp::before {
    content: "";
    display: block;
    border-radius: 2px;
    position: absolute;
    left: 4px;
    top: 0;
    bottom: 0;
    width: 2px;
    background: var(--theme-color);
  }

  /* Circle */
  @media not print {
    .exp__job::before {
      content: "";
      display: block;
      border: 1px;
      border-radius: 50%;
      position: absolute;
      left: 0px;
      top: 0.45rem;
      width: 10px;
      height: 10px;
      background: var(--theme-color);
    }
  }
}

